In [88]:
import numpy as np
import pandas as pd

In [51]:
numArray = np.random.randn(5)
arr = ["e", "f", "g", "h", "i"]
s = pd.Series(numArray, index=arr)

In [54]:
sliced = s[3:]
newArray = pd.Series([0.820795,0.320795, 0.110795], index = ["a", "b", "c"])
sliced

h    1.340343
i    0.071289
dtype: float64

In [14]:
d = {'jon':1, 'snow':2, 'targaryean':3}

In [21]:
pd.Series(d)

['jo', 'ja', 'lee', 'jane', 'didi']

In [59]:
newpd = newArray.append(sliced)
newpd

a    0.820795
b    0.320795
c    0.110795
h    1.340343
i    0.071289
dtype: float64

In [60]:
newpd= newpd.drop('c')
newpd

a    0.820795
b    0.320795
h    1.340343
i    0.071289
dtype: float64

In [62]:
dates = pd.date_range('today', periods = 6)
dates

DatetimeIndex(['2020-10-22 13:39:51.066885', '2020-10-23 13:39:51.066885',
               '2020-10-24 13:39:51.066885', '2020-10-25 13:39:51.066885',
               '2020-10-26 13:39:51.066885', '2020-10-27 13:39:51.066885'],
              dtype='datetime64[ns]', freq='D')

In [70]:
num_arr = np.random.randn(6, 4)
column = ['A', 'B', 'C', 'D']
df = pd.DataFrame(num_arr, index = dates, columns = column)
df.head(1)
df.tail(1)

                                   A         B         C         D
2020-10-27 13:39:51.066885  0.931008 -0.750715 -0.510014  0.190256

In [74]:
data = {'animal': ['birds', 'dogs', 'fish'],
        'age': [2.5, 4.0, 0.3],
       'visits' : ['yes', 'no', 'yes']
       }
labels = ['row1', 'row2', 'row3']
newData = pd.DataFrame(data, labels)
newData

     animal  age visits
row1  birds  2.5    yes
row2   dogs  4.0     no
row3   fish  0.3    yes

In [165]:
fruits = pd.DataFrame({'Apples' : [30], 'Bananas' : [20]})
fruits

KeyError: 0

In [134]:

data = pd.read_csv("rainfall.csv")
data.value = data.value.astype(float)
table_with_station_reference = data.loc[data.stationReference == 'E12560']
result = table_with_station_reference.value.sum()
result

6.6

In [135]:
data.columns

Index(['dateTime', 'station', 'stationReference', 'value'], dtype='object')

In [146]:
index1 = data[['dateTime', 'stationReference', 'value']]
index1.set_index('dateTime', inplace = True)
index2 = index1.loc[index1.stationReference == 'E12560']
index2.drop('stationReference', inplace = True, axis = 1) 
index2

C:\Users\Chigo\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                      value
dateTime
2020-10-12T00:00:00Z    0.0
2020-10-12T00:15:00Z    0.0
2020-10-12T00:30:00Z    0.0
2020-10-12T00:45:00Z    0.0
2020-10-12T01:00:00Z    0.0
...                     ...
2020-10-12T22:45:00Z    0.0
2020-10-12T23:00:00Z    0.0
2020-10-12T23:15:00Z    0.0
2020-10-12T23:30:00Z    0.0
2020-10-12T23:45:00Z    0.0

[96 rows x 1 columns]

In [202]:
number = data[['station', 'stationReference']]
number2 = number.loc[number.stationReference == '261923TP']
#number2.reset_index(inplace = True)
#print(number2.iloc[0, :])
number2.drop_duplicates(inplace = True)
number2.drop('stationReference', inplace = True, axis = 1)
print(number2)
print(list(number2[['station']]))

                                              station
45  http://environment.data.gov.uk/flood-monitorin...
['station']

<ipython-input-202-0b65aa10b57b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  number2.drop_duplicates(inplace = True)
C:\Users\Chigo\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [101]:
float(reader.loc['2020-10-12T02:00:00Z'])

AttributeError: 'Reader' object has no attribute 'loc'